@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.radio-input {
  border: none;
  width: 100%;
  &__label {
    padding-bottom: 0.125rem;
  }
  &__options-container {
    @include flex(center, flex-start);
    gap: $space-micro;
  }
  &__option-container {
    flex-grow: 1;
  }
  &__option-input {
    display: none;
    &:checked + .radio-input__option-label {
      background-color: rgba($color-brand-secondary, 0.2);
      border: 1px solid $color-brand-secondary;
      color: $color-brand-secondary;
    }
  }
  &__option-label {
    border: 1px solid black;
    border-radius: 4px;
    color: $color-brand-primary;
    cursor: pointer;
    display: block;
    padding: $space-small $space-standard;
    text-align: center;
  }
}