@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.event-list {
  width: 100%;
  &__header {
    border-bottom: $border-style;
    width: 100%;
    padding-block: $space-med $space-micro;
    text-align: left;
  }
  &__list-items {
    @include flex(flex-start, flex-start);
    gap: $space-large;
    padding-bottom: $space-med;
    @include tablet {
      @include responsive-gap;
    }
  }
  &__list-container {
    padding-bottom: 1.5rem;
    width: 100%;
  }
}
