@use "./variables" as *;

// Media Queries
@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Layout
@mixin page-center($max: $max-content-width) {
  margin: 2rem auto;
  max-width: $max;
  min-height: 100vh;
}

@mixin flex($alignment: center, $justify: space-between) {
  align-items: $alignment;
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
}

//Spacing
@mixin responsive-padding {
  padding: $space-standard-mobile;
  @include tablet {
    padding: $space-standard;
  }
}

@mixin responsive-padding-block {
  padding-block: $space-standard-mobile;
  @include tablet {
    padding-block: $space-standard;
  }
}

@mixin responsive-padding-right {
  padding-right: $space-standard-mobile;
  @include tablet {
    padding-right: $space-standard;
  }
}

@mixin responsive-padding-left {
  padding-left: $space-standard-mobile;
  @include tablet {
    padding-left: $space-standard;
  }
}

@mixin responsive-gap {
  gap: $space-standard-mobile;
  @include tablet {
    gap: $space-standard;
  }
}

//Other Styles

@mixin button {
  border-radius: $border-radius;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px #b4b4b47e;
  font-family: "Rubik", sans-serif;
  font-size: $font-size-body;
  font-weight: $weight-bold;
  padding: 0.75rem $space-standard;
  text-align: center;
  width: 100%;
}

@mixin button-primary {
  background-color: $color-brand-primary;
  border: 2px solid $color-brand-primary;
  color: $color-primary-light;
  transition: 0.2s ease-in;
  &:hover {
    background-color: $color-brand-primary-hover;
    border: 2px solid $color-brand-primary-hover;
    transform: scale(0.99);
  }
}

@mixin button-secondary {
  background-color: transparent;
  border: 2px solid $color-brand-primary;
  color: $color-brand-primary;
  transition: 0.2s ease-in;
  &:hover {
    background-color: $color-brand-primary;
    color: white;
    transform: scale(0.99);
  }
}
