@use "./variables" as *;

// Media Queries
@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Layout
@mixin page-center($max: $max-content-width) {
  margin-inline: auto;
  max-width: $max;
}

@mixin flex($alignment: center, $justify: space-between) {
  align-items: $alignment;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: $justify;
}

@mixin flex-center {
  @include flex(center, center);
}

@mixin flex-column {
  @include flex(flex-start, flex-start);
  flex-direction: column;
}

//Spacing
@mixin responsive-padding {
  padding: $space-standard-mobile;
  @include tablet {
    padding: $space-standard;
  }
}

@mixin responsive-padding-block {
  padding-block: $space-standard-mobile;
  @include tablet {
    padding-block: $space-standard;
  }
}

@mixin responsive-padding-right {
  padding-right: $space-standard-mobile;
  @include tablet {
    padding-right: $space-standard;
  }
}

@mixin responsive-padding-left {
  padding-left: $space-standard-mobile;
  @include tablet {
    padding-left: $space-standard;
  }
}

@mixin responsive-gap {
  gap: $space-standard-mobile;
  @include tablet {
    gap: $space-standard;
  }
}

//Other Styles

@mixin button {
  border-radius: $border-radius;
  box-sizing: border-box;
  box-shadow: 1px 2px 5px #b4b4b47e;
  font-family: "Rubik", sans-serif;
  font-size: $font-size-body;
  font-weight: $weight-bold;
  padding: $space-med $space-standard;
  text-align: center;
  width: 100%;
}

@mixin button-primary {
  background-color: $color-brand-primary;
  border: 2px solid $color-brand-primary;
  color: $color-primary-light;
  transition: 0.2s ease-in;
  &:hover {
    background-color: $color-brand-primary-hover;
    border: 2px solid $color-brand-primary-hover;
    transform: scale(0.99);
  }
}

@mixin button-primary-alt {
  background-color: $color-brand-secondary;
  border: 2px solid $color-brand-secondary;
  color: $color-primary-light;
  transition: 0.2s ease-in;
  &:hover {
    background-color: $color-primary-light;
    border: 2px solid  $color-primary-light;
    color: $color-brand-secondary;
    transform: scale(0.99);
  }
}

@mixin button-secondary {
  background-color: transparent;
  border: 2px solid $color-brand-primary;
  color: $color-brand-primary;
  transition: 0.2s ease-in;
  &:hover {
    background-color: $color-brand-primary;
    color: white;
    transform: scale(0.99);
  }
}

@mixin button-tertiary {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  color: $color-brand-primary;
  transition: 0.2s ease-in;
  &:hover {
    background-color: $color-background-secondary;
    transform: scale(0.99);
    text-decoration: underline;
  }
}

@mixin button-icon {
  background-color: transparent;
  border: none;
  color: $color-primary-dark;
}

@mixin list-hover {
  outline: transparent;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: $color-background-secondary;
    border-radius: 0.25px;
    outline: 0.5rem solid $color-background-secondary;
    transform: translate(-0.25rem, -0.25rem);
  }
}

@mixin image-overlay($color, $opacity) {
  isolation: isolate;
  position: relative;
  &::after {
    background-color: $color;
    opacity: $opacity;
    content: "";
    inset: 0;
    position: absolute;
    z-index: -1;
  }
}

@mixin background-img($url, $position: center) {
  background-image: url($url);
  background-position: $position;
  background-size: cover;
  width: 100%;
}