@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.empty-list {
  @include flex-column(center, center);
  gap: $space-standard;
  background-color: $color-background-secondary;
  border-radius: $border-radius;
  padding-block: 3rem;
  &__btn-container {
    margin: 0;
  }
}
