//Colours
$color-brand-primary: #292929;
$color-brand-secondary: #575757;
$color-primary-dark: #1f1f1f;
$color-primary-light: #fafafa;

$color-success: #18B44A;
$color-error: #E54827;

//Font Styles
$font-size-header-primary: 2.5rem;
$font-size-header-secondary: 1.25rem;
$font-size-body: 1rem;
$font-size-button: 1rem;
$font-size-label: 0.75rem;

//Font Weight
$weight-regular: 400;
$weight-bold: 600;

//Spacing
$space-micro: 0.25rem;
$space-small: 0.5rem;
$space-standard-mobile: 1rem;
$space-standard: 1.5rem;
$space-large-mobile: 1.5rem;
$space-large: 2.25rem;

//Other Styles
$border-radius: 4px;
$border-style: 1px solid $color-brand-secondary;

//Layout
$max-content-width: 1280px;

//Breakpoints
$tablet: 768px;
$desktop: 1280px;