@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.group {
  @include flex;
  &__content-container {
    @include flex(baseline);
    flex-direction: column;
    gap: $space-micro;
  }
  &__group-details {
    @include flex;
    @include responsive-gap;
  }
  &__location-container {
    @include flex;
    @include responsive-gap;
  }
  &__join-btn {
    width: 7rem;
  }
  &__response-container {
    @include flex(center, center);
    gap: $space-micro;
    width: 100%;
  }
  &__response-check {
    color: #8bc7ae;
  }
  &__next-event {
    padding-top: $space-small;
  }
}
