@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.group {
  @include flex-column;
  @include list-hover;
  width: 100%;
  gap: $space-small;
  @include tablet {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  &__content-container {
    @include flex(baseline);
    flex-direction: column;
    gap: $space-small;
    text-decoration: none;
  }
  &__response-container {
    @include flex(center, center);
    gap: $space-micro;
    padding-top: 0.5rem;
    @include tablet {
      padding-top: unset;
    }
  }
  &__star-icon {
    color: $color-accent-yellow;
  }
}
