@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.nav {
  @include responsive-padding;
  @include flex;
  @include responsive-gap;
  background-color: $color-brand-secondary;
  &__logo {
    color: $color-primary-dark;
    text-decoration: none;
  }
  &__actions-container {
    @include flex(center, flex-end);
    @include responsive-gap;
  }
}
