@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.nav {
  @include responsive-padding;
  @include flex-column;
  @include responsive-gap;
  background-color: $color-background-secondary;
  @include tablet {
    @include flex;
  }
  &__logo {
    @include flex;
    gap: $space-small;
    text-decoration: none;
    width: 100%;
    @include tablet {
      width: auto;
    }
  }
  &__logo-text {
    color: $color-brand-primary;
    display: none;
    font-family: "Unica One", sans-serif;
    font-size: 2rem;
    @include tablet {
      display: block;
    }
  }
  &__menu-icon {
    @include button-icon;
    @include tablet {
      display: none;
    }
  }
  &__actions-container {
    @include flex(center, flex-end);
    gap: $space-small;
    width: 100%;
    @include tablet {
      flex-basis: 20rem;
      flex-wrap: nowrap;
    }
    &--hidden {
      display: none;
      @include tablet {
        display: flex;
      }
    }
  }
  &__greeting {
    flex-shrink: 0;
  }
}
