@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.single-event {
  @include flex(center, center);
  gap: $space-micro;
  width: 100%;
  &__main-details-container {
    @include flex(flex-start);
    gap: $space-large;
    flex-direction: column;
    padding-top: 1rem;
    @include tablet {
      flex-direction: row;
      gap: $space-standard;
    }
  }
  &__main-details-left {
    text-align: left;
    @include flex(flex-start);
    flex-direction: column;
    gap: $space-micro;
  }
  &__main-details-right {
    text-align: right;
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: $space-micro;
    @include desktop {
      align-items: flex-end;
      text-align: right;
    }
  }
  &__header {
    padding-top: $space-small;
    padding-bottom: $space-med;
  }
  &__link {
    @include body($font-size-body, $color-brand-primary);
    &:hover {
      color: $color-brand-primary-hover;
    }
  }
  &__response-btn-container {
    @include flex(center, flex-start);
    gap: $space-standard;
    padding-top: 3rem;
    @include tablet {
      justify-content: center;
      flex-wrap: nowrap;
    }
  }
  &__response-item {
    width: 100%;
    @include tablet {
      width: 32%;
    }
  }
  &__selected-response {
    background-color: $color-background-secondary;
    padding: $space-med;
    border-radius: $border-radius;
  }
}
