@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.btn-link {
  display: block;
  text-decoration: none;
  &--default {
    @include button;
  }
  &--min-width-s {
    @include button(100%, $min-width: 5rem);
  }
  &--min-width-m {
    @include button(100%, $min-width: 10rem);
  }
  &--min-width-lg {
    @include button(100%, $min-width: 15rem);
  }
  &--full-width {
    @include button(100%);
  }
  &--primary {
    @include button-primary;
  }
  &--secondary {
    @include button-secondary;
  }
  &--tertiary {
    @include button-tertiary;
    display: block;
  }
}
