@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.btn-link {
  @include button;
  display: block;
  text-decoration: none;
  &--primary {
    @include button-primary;
  }
  &--secondary {
    @include button-secondary;
  }
  &--tertiary {
    @include button-tertiary;
    display: block;
  }
}
