@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.footer {
  @include flex;
  background-color: $color-brand-secondary;
  gap: $space-standard;
  padding: 2.25rem 1.5rem 2rem;
  @include tablet {
    padding: 2.25rem 3rem;
  }
  &__brand-name {
    @include header($font-size-h3, $color-primary-light);
  }
  &__tagline {
    @include header($font-size-h4, $color-primary-light);
    padding-top: 0.5rem;
  }
}
