@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.footer {
  @include flex(center, center);
  flex-direction: column;
  gap: $space-micro;
  background-color: $color-brand-secondary;
  min-height: 8rem;
  &__tagline {
    color: $color-accent-pink;
    font-size: $font-size-h3;
    line-height: calc($font-size-h3 * 1.2);
  }
  &__tagline-highlight {
    color: $color-success;
  }
}
