@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.group-page {
  &__filters {
    @include flex;
    gap: 0.5rem;
    padding-bottom: 4rem;
  }
  &__location-select {
    flex-shrink: 1;
    padding-block: .5rem;
  }
  &__region-select {
    flex-grow: 1;
  }
  &__list {
    @include flex;
    gap: 2rem;
    padding-bottom: 4rem;
  }
  &__prompt {
    @include flex-column(center, center);
    background-color: $color-brand-secondary-15;
    border-radius: $border-radius-lg;
    box-sizing: border-box;
    gap: 1rem;
    padding: 3rem 2rem;
    text-align: center;
    width: 100%;
  }
}
