@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.group-list {
  @include flex;
  gap: 2rem;
  padding-bottom: 1.5rem;
  &__header {
    border-bottom: $border-style;
    width: 100%;
    padding-bottom: $space-micro;
    padding-top: $space-standard;
  }
  &--usa {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}

.launch-prompt {
  background-color: $color-background-secondary;
  &__inner-container {
    @include flex-column(center);
    @include responsive-gap;
    margin-inline: auto;
    max-width: $max-content-width-small;
    padding-block: 4rem;
  }
}