@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.hero {
  @include flex;
  @include responsive-padding-block;
  background-color: $color-background-secondary;
  justify-content: center;
  &__img {
    @include background-img("../../assets/images/puffin-hero.jpg", center);
    @include image-overlay($color-background-secondary, 0.2);
    @include flex(center, center);
    border-radius: 10px;
    animation: move-up 0.5s ease-in;
    height: 15rem;
    width: 90%;
    @include tablet {
      width: 30%;
      position: relative;
      left: 5%;
      top: 3.75rem;
      height: 30rem;
    }
    @keyframes move-up {
      0% {
        top: 5rem;
        display: hidden;
        opacity: 0;
      }
      100% {
        top: 3.75rem;
        display: block;
      }
    }
  }
  &__img-overlay {
    background: linear-gradient(
      0deg,
      rgba($color-primary-dark, 0.5) 0%,
      rgba($color-primary-dark, 0.3) 30%,
      rgba($color-primary-dark, 0) 50%,
      rgba($color-primary-dark, 0) 70%,
      rgba($color-primary-dark, 0) 100%
    );
    width: 100%;
    border-radius: 10px;
  }
  &__outer-content-container {
    @include flex(center, center);
    box-sizing: border-box;
    background-color: white;
    padding: 5rem 1rem;
    width: 90%;
    border-radius: 4px;
    box-shadow: 0px 1px 2px #b4b4b4ef;
    background-color: $color-background-primary;
    animation: move-left 0.5s ease-in;
    margin-top: -1.5rem;
    z-index: 1;
    @include tablet {
      position: relative;
      top: 3.5rem;
      width: 55%;
      right: 1%;
    }
    @include desktop {
      width: 45%;
      right: 5%;
    }
    @keyframes move-left {
      0% {
        right: 10%;
        opacity: 0;
      }
      100% {
        right: 12%;
        display: block;
      }
    }
  }
  &__content-container {
    @include flex(center, center);
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  &__header {
    font-family: "Unica One", sans-serif;
    font-weight: $weight-bold;
    color: $color-primary-light;
    font-size: 4rem;
    color: $color-brand-secondary;
  }
  &__subheader {
    color: $color-primary-light;
    font-family: "Rubik", sans-serif;
    font-weight: $weight-regular;
    font-size: 1.25rem;
    color: $color-primary-dark;
  }
  &__cta-container {
    max-width: 12.5rem;
    padding-top: 1.5rem;
  }
}

.details {
  background-color: $color-background-secondary;
  @include responsive-padding-block;
  &__inner-container {
    max-width: 25rem;
    margin-inline: auto;
    padding-block: 2rem 2rem;
    padding-inline: 1.5rem;
    @include tablet {
      padding-block: 8rem 6rem;
      max-width: 50rem;
    }
    @include desktop {
      padding-block: 8rem 6rem;
    }
  }
  &__header {
    padding-bottom: 2rem;
  }
  &__card-container {
    @include flex(stretch);
    flex-direction: column;
    gap: 1.5rem;
    @include tablet {
      flex-direction: row;
    }
  }
  &__card {
    box-sizing: border-box;
    background-color: rgba($color-background-primary, 0.7);
    box-shadow: 1px 2px 10px #b4b4b47e;
    width: 100%;
    @include flex(stretch, flex-start);
    border-radius: 3.75px;
    transition: 0.5s ease-in-out;
    position: relative;
    flex-wrap: nowrap;
    @include tablet {
      width: 31%;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  &__card-content {
    padding: $space-med;
    @include flex(center, center);
    flex-direction: column;
    gap: $space-med;
    z-index: 1;
    width: 100%;
    text-align: center;
  }
  &__card-body {
    padding-inline: $space-med;
    text-align: center;
  }
  &__number {
    color: $color-brand-primary;
    font-size: $font-size-h4;
  }
  &__highlight {
    width: 0.375rem;
    border-radius: 10px 0px 0 10px;
    &--blue {
      background-color: $color-brand-secondary;
    }
    &--pink {
      background-color: $color-accent-pink;
    }
    &--green {
      background-color: $color-success;
    }
  }
}

.groups-section {
  @include flex(center, center);
  position: relative;
  padding-top: 6rem;
  background-image: url("../../assets/images/waves-2.svg");
  background-position: bottom;
  background-size: cover;
  padding-inline: $space-med;
  &__curve-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  &__content {
    @include flex(center, center);
    flex-direction: column;
    gap: $space-standard;
    padding-block: 4rem;
    margin-block: 2rem;
    border-radius: $border-radius;
    width: 100%;
    max-width: $max-content-width;
    padding-bottom: 20rem;
  }
  &__curve-shape {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 79px;
    transform: rotateY(180deg);
  }
  &__curve-fill {
    fill: #ffffff;
    fill: $color-background-secondary;
  }
  &__header {
    color: $color-brand-primary;
    font-size: 3.5rem;
    text-align: center;
  }
  &__button {
    max-width: 12rem;
  }
}
