@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.hero {
  @include flex(center, center);
  background-color: $color-background-secondary;
  &__wrapper {
    width: 100%;
    @include tablet {
      @include flex(center, center);
      padding-block: 7.5rem;
      padding-inline: 0.5rem;
      width: unset;
    }
  }
  &__img {
    @include background-img("../../assets/images/puffin-hero.jpg", center);
    @include flex(center, center);
    @include image-overlay($color-background-secondary, 0.2);
    aspect-ratio: 3 / 1;
    width: 100%;
    @include tablet {
      animation: move-up 0.75s ease-in;
      aspect-ratio: 7 / 10;
      border-radius: 10px;
      height: 25rem;
      width: unset;
    }
    @keyframes move-up {
      0% {
        display: hidden;
        opacity: 0;
        top: 5rem;
      }
      100% {
        display: block;
        top: 0rem;
      }
    }
  }
  &__img-overlay {
    @include flex(flex-end);
    aspect-ratio: 3 / 1;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba($color-primary-dark, 0.5) 0%,
      rgba($color-primary-dark, 0.3) 30%,
      rgba($color-primary-dark, 0) 50%,
      rgba($color-primary-dark, 0) 70%,
      rgba($color-primary-dark, 0) 100%
    );
    @include tablet {
      aspect-ratio: 7 / 10;
      border-radius: 10px;
      height: 25rem;
    }
  }
  &__img-tagline {
    @include header($font-size-h4, $color-primary-light);
    padding: 0.5rem 1rem;
    &--divider {
      color: $color-accent-yellow;
    }
  }
  &__outer-content-container {
    @include flex(center, center);
    background-color: $color-background-primary;
    box-sizing: border-box;
    padding: 2.25rem 2rem 3.75rem;
    position: relative;
    z-index: 1;
    @include tablet {
      animation: move-left 0.75s ease-in;
      border-radius: $border-radius-m;
      box-shadow: 0px 1px 2px #b4b4b4ef;
      margin-left: -5rem;
      padding: 4.25rem 5rem 3.75rem;
    }
    @include desktop {
      margin-left: -1.5rem;
    }

    @keyframes move-left {
      0% {
        display: hidden;
        opacity: 0;
        right: -10rem;
      }
      100% {
        display: block;
        right: 0;
      }
    }
  }
  &__content-container {
    @include flex-column(center);
    gap: 0.5rem;
    text-align: center;
    @include tablet {
      align-items: flex-start;
      text-align: left;
    }
  }
  &__header {
    @include header($font-size-h2, $color-primary-dark, $weight-regular);
    @include tablet {
      font-size: $font-size-h1;
    }
  }
  &__subheader {
    @include header($font-size-h4, $color-primary-dark, $weight-regular);
    @include tablet {
      font-size: $font-size-h3;
    }
  }
  &__cta-container {
    @include flex;
    gap: 0.5rem;
    padding-top: 2.25rem;
    max-width: 15rem;
    width: 100%;
    @include tablet {
      flex-wrap: nowrap;
      max-width: unset;
    }
  }
  &__divider-curve {
    width: 100%;
    display: none;
    @include tablet {
      display: block;
    }
  }
}

.details {
  background-color: $color-background-primary;
  @include flex(center, center);
  margin-top: -0.25rem;
  &__wrapper {
    @include flex(stretch, center);
    gap: 2.25rem;
    max-width: 50rem;
    flex-direction: nowrap;
  }
  &__card {
    @include flex-column(center);
    box-sizing: border-box;
    padding: 1.5rem;
    text-align: center;
    @include tablet {
      align-items: flex-start;
      flex-grow: 1;
      max-width: 360px;
      text-align: left;
    }
  }
  &__header {
    @include header($font-size-h2, $color-brand-secondary, $weight-regular);
    @include tablet {
      font-size: $font-size-h1;
    }
    padding-block: 0.75rem 1rem;
  }
  &__body {
    @include body;
    margin-block: 0.5rem;
  }
}

.groups-section {
  @include flex(center, center);
  padding-top: 3.5rem;
  @include tablet {
    padding-top: 6rem;
  }
  &__divider {
    max-width: 100%;
  }
  &__content {
    @include flex(center, center);
    border-radius: $border-radius;
    flex-direction: column;
    gap: $space-standard;
    margin-block: 2rem;
    max-width: $max-content-width;
    padding-block: 3.5rem 2.5rem;
    padding-inline: 2rem;
    width: 100%;
    @include tablet {
      padding-block: 7.5rem 4.5rem;
    }
  }
  &__header {
    @include header($font-size-h2);
    @include tablet {
      font-size: $font-size-h1;
    }
    text-align: center;
  }
  &__buttons {
    @include flex;
    gap: 0.5rem;
    max-width: 15rem;
    @include tablet {
      flex-wrap: nowrap;
      max-width: unset;
    }
  }
  &__decorative-curves {
    max-width: 100%;
  }
}
