@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.hero {
  @include flex-center;
  background-color: $color-background-secondary;
  @include tablet {
    flex-wrap: nowrap;
  }

  &__img {
    @include background-img("../../assets/images/puffin-hero.jpg", 50% 70%);
    @include flex-center;
    @include image-overlay($color-background-secondary, 0.2);
    aspect-ratio: 2 / 1;
    @include tablet {
      animation: move-up 0.5s ease-in;
      border-radius: 10px;
      height: 30rem;
      left: 4%;
      position: relative;
      top: 3.75rem;
      width: 40%;
    }
    @include desktop {
      height: 30rem;
      left: 5%;
      position: relative;
      top: 3.75rem;
      width: 30%;
    }
    @keyframes move-up {
      0% {
        display: hidden;
        opacity: 0;
        top: 5rem;
      }
      100% {
        display: block;
        top: 3.75rem;
      }
    }
  }

  &__outer-content-container {
    @include flex-center;
    //background-color: $color-background-secondary;
    background-color: $color-background-primary;
    box-sizing: border-box;
    //padding: 3rem 1rem;
    padding: 2.5rem 1.5rem;
    width: 100%;
    z-index: 1;
    @include tablet {
      animation: move-left 0.5s ease-in;
      //background-color: white;
      border-radius: 4px;
      box-shadow: 0px 1px 2px #b4b4b4ef;
      margin-top: -1.5rem;
      padding: 5rem 1rem;
      position: relative;
      right: 4%;
      top: 4.5rem;
      width: 57%;
    }
    @include desktop {
      right: 2%;
      top: 4rem;
      width: 50%;
    }
    @keyframes move-left {
      0% {
        opacity: 0;
        right: 10%;
      }
      100% {
        display: block;
        right: 12%;
      }
    }
  }

  &__content-container {
    @include flex(center, center);
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  &__header {
    color: $color-primary-light;
    color: $color-brand-secondary;
    font-family: "Unica One", sans-serif;
    font-size: 2.5rem;
    font-weight: $weight-bold;

    @include tablet {
      font-size: 4rem;
    }
  }

  &__subheader {
    color: $color-primary-light;
    color: $color-primary-dark;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: $weight-regular;
    @include tablet {
      font-size: 1.25rem;
    }
  }

  &__cta-container {
    max-width: 12.5rem;
    padding-top: 1.25rem;
    @include tablet {
      padding-top: 1.5rem;
    }
  }
}

.details {
  @include responsive-padding-block;
  background-color: $color-background-secondary;

  &__inner-container {
    margin-inline: auto;
    max-width: 25rem;
    padding-block: 2rem 2rem;
    padding-inline: 1.5rem;
    @include tablet {
      max-width: 50rem;
      padding-block: 8rem 6rem;
      padding-inline: 4rem;
    }
  }

  &__header {
    padding-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem !important;
    line-height: 3.5rem !important;
    @include tablet {
      text-align: left;
      padding-bottom: 2rem;
    }
  }

  &__card-container {
    @include flex(stretch);
    flex-direction: column;
    gap: 1rem;
    @include tablet {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0.75rem;
    }
    @include desktop {
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  &__card {
    @include flex(stretch, flex-start);
    background-color: rgba($color-background-primary, 0.7);
    border-radius: 3.75px;
    box-shadow: 1px 2px 10px #b4b4b47e;
    box-sizing: border-box;
    flex-direction: column-reverse;
    position: relative;
    transition: 0.5s ease-in-out;
    width: 100%;
    @include tablet {
      flex-grow: 1;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    &:hover {
      transform: scale(1.1);
    }
  }

  &__card-content {
    @include flex(center, flex-start);
    box-sizing: border-box;
    flex-direction: column;
    gap: $space-med;
    padding: 1.5rem 1rem;
    text-align: center;
    width: 100%;
    z-index: 1;
  }

  &__card-body {
    padding-inline: $space-med;
    text-align: center;
  }

  &__highlight {
    border-radius: 0px 0px 10px 10px;
    height: 0.185rem;
    width: 100%;
    @include tablet {
      border-radius: 10px 0px 0 10px;
      height: unset;
      width: 0.375rem;
    }
    &--blue {
      background-color: $color-brand-secondary;
    }
    &--pink {
      background-color: $color-accent-pink;
    }
    &--green {
      background-color: $color-success;
    }
  }
}

.groups-section {
  @include flex(center, center);
  background-image: url("../../assets/images/waves-2.svg");
  background-position: bottom;
  background-size: cover;
  padding-inline: $space-med;
  padding-top: 6rem;
  position: relative;

  &__curve-divider {
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    width: 100%;
  }

  &__curve-shape {
    display: block;
    height: 50px;
    position: relative;
    transform: rotateY(180deg);
    width: calc(100% + 1.3px);
    @include tablet {
      height: 80px;
    }
  }

  &__curve-fill {
    fill: #ffffff;
    fill: $color-background-secondary;
  }

  &__content {
    @include flex(center, center);
    border-radius: $border-radius;
    flex-direction: column;
    gap: $space-standard;
    max-width: 18rem;
    padding-block: 1.5rem 12rem;
    width: 100%;
    @include tablet {
      max-width: $max-content-width;
      padding-block: 7.5rem 20rem;
    }
  }

  &__header {
    color: $color-brand-primary;
    font-size: 3rem;
    text-align: center;
    @include tablet {
      font-size: 3.5rem;
    }
  }

  &__button {
    max-width: 12rem;
  }
}
