@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.page-wrapper {
  @include responsive-padding-block;
  min-height: 100vh;
  box-sizing: border-box;
  @include responsive-padding-left;
  @include responsive-padding-right;
  &--full {
    width: 100%;
  }
  &--large {
    @include page-center;
    max-width: 50rem;
    @include desktop {
      max-width: 1280px;
    }
  }
  &--small {
    @include page-center($max-content-width-small);
  }
  &__inner-wrapper {
    @include responsive-padding-block;
  }
  &__back-container {
    @include flex(center, flex-start);
    gap: $space-micro;
    width: fit-content;
    text-decoration: none;
    margin-top: 2rem;
    &:hover {
      background-color: $color-background-secondary;
      outline: 4px solid $color-background-secondary;
    }
  }
  &__back-icon {
    color: $color-brand-primary;
  }
  &__back-text {
    color: $color-brand-primary;
    font-weight: $weight-bold;
    font-family: "Rubik", sans-serif;
    font-size: $font-size-body;
  }
  &__header-container {
    @include responsive-padding-block;
  }
}
