@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.home {
  @include page-center($max-content-width-small);
  text-align: center;
  &__header {
    @include responsive-padding-block;
    color: $color-primary-dark;
  }
  &__button {
    padding-top: 1.5rem;
  }
}

.event-list {
  @include flex;
  @include responsive-gap;
  @include responsive-padding;
  border: $border-style;
  border-radius: $border-radius;
  flex-direction: column;
  margin-top: 2rem;
}
