@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.home {
  @include page-center;
  margin-inline: auto;
  text-align: center;
  &__theme-container {
    @include responsive-padding-block;
  }
  &__button {
    padding-top: 1.5rem;
  }
  &__dashboard-wrapper {
    @include flex(center, center);
    margin-top: 1rem;
    gap: 4.5rem;
    @include desktop {
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: nowrap;
      max-width: unset;
    }
  }
  &__resources {
    flex-basis: 100%;
    margin-bottom: 2rem;
    @include desktop {
      flex-basis: 60%;
    }
  }
  &__event-list {
    flex-basis: 100%;
    max-width: 40rem;
    @include desktop {
      flex-basis: 40%;
    }
  }
  &__group-header {
    @include header;
    border-bottom: $border-style;
    padding-bottom: 4px;
  }
  &__group-list {
    @include flex-column;
    gap: 1rem;
    padding-block: 1.5rem 1rem;
  }
  &__group-btn {
    @include flex(center, center);
  }
}
