@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.input-select {
  &__field-container {
    position: relative;
    width: 100%;
  }
  @include flex(flex-start);
  flex-direction: column;
  gap: 0.375rem;
  width: 100%;
  &__field {
    @include input;
    appearance: none;
    padding: $space-med calc($space-med + 2rem) $space-med $space-med;
    outline: none;
    width: 100%;
    &::placeholder {
      font-size: 1rem;
    }
    &--error {
      border: 2px solid $color-error;
    }
  }
  &__error {
    color: $color-error;
  }
  &__arrow {
    @include flex(center, center);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2rem;
    pointer-events: none;
  }
}
